# Режим работы приложения
MODE=LOCAL

# Настройки PostgreSQL
DB_HOST=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432
DB_NAME=postgres

# Настройки Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis

# JWT настройки
JWT_SECRET_KEY=your-secret-key-change-in-production
JWT_ALGORITHM=HS256
